
.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5; /* Un fondo claro y neutro */
  }
  
  .authForm {
    padding: 40px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .authTitle {
    margin-bottom: 24px;
    color: #333;
    font-family: 'Georgia', serif;
    font-size: 28px;
  }
  
  .inputGroup {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .inputLabel {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 14px;
  }
  
  .inputField {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  }
  
  .submitButton {
    width: 100%;
    padding: 12px;
    background-color: #0056b3; /* Un azul profesional */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #004494;
  }
  
  .switchAuth {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .switchAuth a {
    color: #0056b3;
    text-decoration: none;
  }
  
  .switchAuth a:hover {
    text-decoration: underline;
  }