name: CI de Pruebas

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Construir la imagen de Docker para pruebas
      run: docker build -t test-app -f Dockerfile.test .

    - name: Ejecutar las pruebas
      run: docker run test-appcd 